<mat-accordion>
    <mat-expansion-panel *ngFor = "let book of books$ | async">
      <mat-expansion-panel-header>
        <mat-panel-title>  
            {{book.title}}    
        </mat-panel-title>

      </mat-expansion-panel-header>
     by {{book.author}}  
     <br>   
     <button mat-raised-button color="primary" (click)=deleteBook(book.id)>
      Delete Book
     </button>
     <br><br>
     <button mat-raised-button color="primary" [routerLink]="'/bookform/' + book.id">
      Edit Book
      </button>
    </mat-expansion-panel>
    <br>
    <a mat-list-item [routerLink] ="['/bookform']" routerLinkActive="active"><h3>Add book</h3></a>
  </mat-accordion>