<h3>Add New Book </h3>

<form (ngSubmit)="onSubmitAddBook()">
    <mat-form-field class="example-full-width" >
        <input matInput placeholder="Book title" [(ngModel)]="title" name="title">
    </mat-form-field>

    <div>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Book author" [(ngModel)]="author" name="author">
            </mat-form-field>
    </div>
    
    <div>
        <button mat-raised-button color="primary">Add new book</button>
    </div>
</form>
    