<br>
<p *ngIf = "!(ListOfAuthors$ | async)">Loading...</p>  
<mat-card>
        <form #authorForm ="ngForm" (ngSubmit)="onSubmit()">
            <mat-list *ngFor="let author of ListOfAuthors$ | async" ngDefaultControl>
                <br>
                <span>
                    {{author.name}}
                </span>
            </mat-list>
                  <br>
                  <div>
                        <h3>Add New Author </h3>
                        <mat-form-field class="example-full-width">
                          <input matInput [(ngModel)] = "new_author" name = "new_author">
                        </mat-form-field>
                
                        <div>
                            <button mat-raised-button color="primary">Add</button>
                        </div>
                  </div>
        </form>
</mat-card>


  <!-- <form #authorForm ="ngForm" (ngSubmit)="onSubmitEditAuthors()">
                      <mat-list [(ngModel)]="authorname" name ="authorname" *ngFor="let author of ListOfAuthors$ | async" ngDefaultControl>
                          <span *ngIf="author.id == id_from_url;  else other">
                             {{name_from_url}}
                            </span> 
                            <ng-template #other><br>{{author.name}} </ng-template> 
                            <a mat-list-item routerLink ="/editauthor/{{author.name}}/{{author.id}}"routerLinkActive="active" >Edit Authors</a> -->