<div class="example-container">
    <h1>Temperature From</h1>
    
    <form #tempForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="example-container">

            <!-- <mat-form-field>
              <input matInput placeholder="Temperature" [(ngModel)] = "temperature"
                               name = "temperature"
                               required 
                               #temp = "ngModel">
              <mat-error *ngIf="!(temp.valid || temp.pristine)">
                Temperature is required
              </mat-error>                        
            </mat-form-field>
           {{temp.valid}} and {{temp.pristine}} -->
           
        <mat-form-field>
          <mat-select placeholder="Select City" [(ngModel)]= "city" name = "city">
            <mat-option *ngFor = "let city of cities" [value]= "city.name">{{city.name}}</mat-option>
          </mat-select>
        </mat-form-field>

        <div>
            <button mat-raised-button color="primary" [disabled]="!tempForm.form.valid" >submit</button>
        </div>
</div>